mat-card{
  width: 80%;
  margin: 10px auto;

}

mat-form-field{
  width: 100%;
}

.div{
  width: 100%;
  text-align: right;
}

input[type="file"]{
  visibility: hidden;
}

.image{
  text-align: left;
}


.image__pre{
  height: 5rem;
  margin-top: 1rem;

}

img{
  height: 100%;
}
